html {
    scroll-behavior: smooth;

}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.header-background {
    background-image: url("https://wallpapersmug.com/download/3840x2160/f74f10/autumn-trees-forest-aerial-view.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar {
    background: transparent !important;
    backdrop-filter: blur(2px) !important;
}

.navbar-nav {
    color: white !important;
    font-size: x-large;
}


.navbar-link {
    color: white;
    position: relative;
    text-decoration: none;
    transition: all 0.2s;
}

.navbar-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.navbar-link:hover::before {
    color: white !important;
    transform-origin: left;
    transform: scaleX(1);
}

.navbar-link:hover {
    color: white !important;
    transition: all 0.2s;

}

.trynow-btn {
    border-radius: 45px;
}

.quote {
    position: absolute;
    bottom: 0;
    margin-bottom: 40vh;
    color: white;
    font-size: xxx-large;

}

.feedback-input {
    color: white;

    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid white;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid white;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
    color: white;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

[type="submit"] {

    width: 100%;
    background: green;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: darkgreen;
}

.form-bg {
    background: transparent !important;
    backdrop-filter: blur(3px) !important;
}

.fa-facebook {
    color: #3b5998;
    background-image: linear-gradient(to bottom, transparent 20%, white 20%, white 93%, transparent 93%);
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-x-twitter {
  color: 	#000000;

}

.fa-youtube {
    color: #FF0000;
    background-image: linear-gradient(to bottom, transparent 20%, white 20%, white 93%, transparent 93%);
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
}

.social-media {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    font-size: xxx-large;
}

.separator{

	background-color: gray;
	height: 2px;
	max-width: 30px;
	margin: 15px auto 20px;

}




