body, header {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header {
    background-image: url("https://wallpapersmug.com/download/3840x2160/f74f10/autumn-trees-forest-aerial-view.jpg");
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.navbar {
    background: transparent !important;
    backdrop-filter: blur(2px) !important;
}

.navbar-nav {
    color: white !important;
    font-size: x-large;
}


.navbar-link {
    color: white;
    position: relative;
    text-decoration: none;
    transition: all 0.2s;
}

.navbar-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.navbar-link:hover::before {
    color: white !important;
    transform-origin: left;
    transform: scaleX(1);
}

.navbar-link:hover {
    color: white !important;
    transition: all 0.2s;

}

.trynow-btn {
    border-radius: 45px;
}

.quote {
    position: absolute;
    bottom: 0;
    margin-bottom: 40vh;
    color: white;
    font-size: xxx-large;

}


